JWT_SECRET_KEY=#JWT Token that you uused in your backend same one
ALGORITHM=#Same hasing algorith that you used in backend pyjwt will use it to decrypt the request
REDIS_HOST=#redis Host
RREDIS_PORT=#redis Port
DJANGO_DEBUG=#Debug Setting
DJANGO_SECRET_KEY=##Your Django secret Key
DATABASE_NAME=#Database Name
DATABASE_USER=#Database user
DATABASE_PASSWORD=#Database Password
DATABASE_HOST=#Database Host
DATABASE_PORT=#Database Port
JWT_SECRET_KEY=#JWT Secret Key used for auth by drf and simplejwt on backend and by pyjwt on the engine for decrypting the requests
ALGORITHM=#Algorithm for auth token encryption