JWT_SECRET_KEY=#JWT Token that you uused in your backend same one
ALGORITHM=#Same hasing algorith that you used in backend pyjwt will use it to decrypt the request
REDIS_HOST=#redis Host
RREDIS_PORT=#redis Port