JWT_SECRET_KEY=#JWT Token that you uused in your backend same one
ALGORITHM=#Same hasing algorith that you used in backend pyjwt will use it to decrypt the request
REDIS_HOST=#redis Host
RREDIS_PORT=#redis Port
SYSTEM_PRECISION_MULTIPLIER= #100000000 or any base you chose usually 10^4 for fiat and 10^8 for crypto are chosen
REDIS_DB_INDEX=redis database default to 0 but can be overridden for tests
REDIS_MAX_CONNECTIONS=Max number of redis  pool connections