DJANGO_DEBUG=#Debug Setting
DJANGO_SECRET_KEY=##Your Django secret Key
DATABASE_NAME=#Database Name
DATABASE_USER=#Database user
DATABASE_PASSWORD=#Database Password
DATABASE_HOST=#Database Host
DATABASE_PORT=#Database Port
JWT_SECRET_KEY=#JWT Secret Key used for auth by drf and simplejwt on backend and by pyjwt on the engine for decrypting the requests
ALGORITHM=#Algorithm for auth token encryption